<nav class="navbar navbar-default navbar-fixed">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menucollapses" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menucollapses">
			<ul class="nav navbar-nav">
				<li class="active"><a href="">Homepage</a></li>
				<li><a href="">Styledemo</a></li>
				<li><a href="">Full width</a></li>
				<li><a href="">Dropdown</a></li>
				<li><a href="">Gallery</a></li>
				<li><a href="">Portfolio</a></li>
				<li><a href="">Link Text</a></li>
				<li><a href="">Long Link Text</a></li>
			</ul>			 
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav> 